<div class="container">
  <div class="row mt-2 mb-4">
    <div class="col-12">
      <p class="h3">
        Restaurant : Food and Beverage Menu</p>

      <label>Menu Name</label>
      <input type="text" class="form-control" [(ngModel)]="newMenuName" />
      <label>Menu Content</label>
      <input type="text" class="form-control" [(ngModel)]="newMenuContent" />
      <br />
      <button class="btn btn-primary me-2" (click)="onAddFood()">
        Add Food Menu
      </button>
      <button class="btn btn-primary me-2" (click)="onAddBeverage()">
        Add Beverage Menu
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <div class="card card-default mb-3" *ngFor="let item of menuElements">
        <div class="card-header">{{ item.name }}</div>
        <div class="card-body">
          <div
            class="card-subtitle fw-bold"
            *ngIf="item.type === 'Food'"
            style="color: red"
          >
            {{ item.content }}
          </div>
          <p
            class="card-subtitle fst-italic"
            *ngIf="item.type === 'Beverage'"
          >
            {{ item.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
